@import url('https://fonts.googleapis.com/css?family=Cabin');

body
{
  font-family: 'Cabin', sans-serif;
  padding-top: 50px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a
{
  font-weight: 800;
  transition-duration: 0.3s;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover
{
  background-color: #333;
  color: #fff;
}

.home-slider
{
  overflow: hidden;
}

.navbar-default
{
  background-color: #ffffff;
}

.main-slider
{
  color: black;
  background-color: burlywood;
  margin-top: 0;
  padding: 100px;
  height: 450px;
  background-size: cover;
  background-position: center;
}

.slider-text
{
  width: 800px;
  line-height: 2;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  border-radius: 10px;
  padding: 20px;
}

.main-slider button
{
  margin-top: 20px;
  font-size: 16px;
}

.navbar
{
  margin-bottom: 0;
}

.navbar-brand
{
  padding: 10px;
}

.home-para
{
  text-align: center;
  line-height: 1.5;
  font-size: 18px;
  margin: 50px 0px;
}

.heading
{
  text-align: center;
  margin-top: 50px;
}

.navbar-default .navbar-toggle
{
  border: none;
}

.grid-imgs img
{
  height: 270px;
}

.grid-imgs
{
  text-align: center;
}

.grid-imgs h1
{
  margin: 20px 0px;
}

.grid-imgs p
{
  text-align: justify;
  margin: 20px 0px;
}

.grid-imgs button
{
  font-size: 20px;
  margin-bottom: 50px;
}

.fun-img
{
  text-align: center;
}

.fun-text p
{
  font-size:16px;
  line-height: 1.5;
  text-align: justify;
}

.fun-fact
{
  background-color: #d43838;
  color: rgba(255, 255, 255, 0.9);
  padding: 50px;
}

.fun-fact button
{
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}

.lol
{
  background-color: #b71c1c;
}

.footnote
{
  display: inline-block;
  padding: 70px;
}

.footnote h1
{
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
}

.smallbox
{
  font-size: 20px;
  padding: 50px;
  background-color: #eee;
  border-radius: 10px;
  text-align: center;
}

footer
{
  padding: 30px;
  font-size: 16px;
  color: #ddd;
  background-color: #333;
}

button
{
  background-color: #c62828;
  border: none;
  padding: 15px 30px;
  color: #fff;
  border-radius: 5px;
  transition-duration: 0.3s;
}

button:hover
{
  background-color: rgba(198, 40, 40, 0.8); 
}

.fun-text button
{
  background-color: #fff;
  color: #641414;
  transition-duration: 0.3s;
}

.fun-text button:hover
{
  background-color: rgba(255, 255, 255, 0.8);
}

.s-one
{
  background-image: url(../img/slide1.jpg);
}

.s-two
{
  background-image: url(../img/slide2.jpg);
}

.s-three
{
  background-image: url(../img/slide3.jpg);
}
